<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf8">
  <!-- <meta content="width=device-width, height=device-height, initial-scale=1, user-scalable=no"> -->
  <title>Authorization Invoice</title>
  <!-- <link rel="stylesheet" href="css/app.css" /> -->
  <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/towmo-alpha/app.css" type="text/css" />
  <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/css/icons/foundation-icons.css" type="text/css" />
</head>
<body>
  <!-- Tow Company Info -->
  <section class='row'>
    <div class="small-12 small-text-center medium-6 medium-text-left column">
      <img src='http://towmo.imgix.net/sites/vendors/logos/vendor7.jpg' />
    </div>
    <div class="small-12 medium-6 column">
      <div class="row">
        <label class="small-6 column small-text-right medium-12 medium-text-right">635 South East Gish Rd.</label>
        <label class="small-6 column small-text-left medium-12 medium-text-right">Santa Clarita, CA 95112</label>
      </div>

      <div class="row">
        <label class="small-4 column small-text-right medium-12 medium-text-right">
          408.225.2212
          <i class="fi-telephone"></i>
        </label>
        <label class="small-8 column small-text-left medium-12 medium-text-right">
          <a href="#">info@morrisandsonstowing.com</a>
          <i class="fi-mail"></i>
        </label>
      </div>
    </div>
  </section>

  <!-- Vehicle Data -->
  <section class='row panel'>
    <div class="small-12 medium-6 column">
      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>Make</b></label>
        <label class="fn small-9 medium-7 column">Lamborghini</label>
      </div>
      
      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>Model</b></label>
        <label class="small-9 medium-7 column">Model Infinity Powered</label>
      </div>

      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>Year</b></label>
        <label class="small-9 medium-7 column">2015</label>
      </div>

      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>Color</b></label>
        <label class="small-9 medium-7 column">Yellow</label>
      </div>
    </div>

    <div class="small-12 medium-6 column">
      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>VIN</b></label>
        <label class="small-9 medium-7 column">Acura</label>
      </div>
      
      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>License Pl</b></label>
        <label class="small-9 medium-7 column">Model Infinity Powered</label>
      </div>

      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>State</b></label>
        <label class="small-9 medium-7 column">2015</label>
      </div>

      <div class="row">
        <label class="small-3 medium-5 column text-right"><b>Mileage</b></label>
        <label class="small-9 medium-7 column">Yellow</label>
      </div>
    </div>
  </section>

  <!-- Requestor Contqainer -->
  <section class="row">
    <!-- Header -->
    <nav class="top-bar-client">
      <div class="small-4 column text-right"><b>Requestor Site:</b></div>
      <div class="small-8 column text-left">Planet Hollywood International</div>
    </nav>

    <div class="vcard">
      <!-- Information -->
      <div class="small-12 medium-5 columns">
        <!-- Address -->
        <div class="small-12 column">
          <div class="fn small-6 small-text-right columns medium-12 medium-text-right">1751 Howard St., ste A</div>
          <div class="fn small-6 small-text-left columns medium-12 medium-text-right">San Francisco, CA 95342</div>
        </div>

        <!-- Contact Info -->
        <div class="small-12 column">
          <div class="fn small-4 small-text-right column medium-12 medium-text-right">
            415.227.2252
            <i class="fi-telephone"></i>
          </div>
          <div class="fn small-8 small-text-left column medium-12 medium-text-right">
            <a href="#">store-manager@thehomedepot.com</a>
            <i class="fi-mail"></i>
          </div>
        </div>
      </div>
      
      <!-- Questions -->
      <div class="small-12 medium-7 columns">  
        <div class="row">
          <label class="fn small-4 text-right column"><b>Reason for Tow:</b></label>
          <div class="fn small-8 column">Parked in front of tenant</div>
        </div>
        <div class="row">
          <label class="fn small-4 text-right column"><b>Know Car Owner:</b></label>
          <div class="fn small-8 column">No</div>
        </div>
        <div class="row">
          <label class="fn small-4 text-right column"><b>When Requested:</b></label>
          <div class="fn small-8 column">Sat Jul 12th, 2015 @7:45pm</b></div>
        </div>
        <div class="row">
          <label class="fn small-4 text-right column"><b>First Observed:</b></label>
          <div class="fn small-8 column">Mon Jul 7th, 2015 @10:30am</div>
        </div>
        <div class="row">
          <label class="fn small-4 text-right column"><b>Request By:</b></label>
          <div class="fn small-8 column">Arnold Schwarzenegger</div>
        </div>
      </div>  
    </div>
  </section>

  <!-- POLICE Contqainer -->
  <section class="row">
    <!-- Header -->
    <nav class="top-bar-police">
      <div class="small-4 columns text-right"><b>Local Police:</b></div>
      <div class="small-8 columns text-left">Santa Clara Police Department</div>
    </nav>

    <div class="vcard">
      <!-- Information -->
      <div class="section small-12 medium-5 columns">
        <!-- Address -->
        <div class="small-12 column">
          <div class="fn small-6 small-text-right column medium-12 medium-text-right">7521-A Alameda Blvd #345</div>
          <div class="fn small-6 small-text-left column medium-12 medium-text-right">Santa Clara, CA 95050</div>
        </div>

        <!-- Contact Info -->
        <div class="small-12 column">
          <div class="fn small-4 small-text-right column medium-12 medium-text-right">
            408.551.0128
            <i class="fi-telephone"></i>
          </div>
          <div class="fn small-8 small-text-left column medium-12 medium-text-right">
            <a href="#">self-help@santa-clara-police.cfi-police.org</a>
            <i class="fi-mail"></i>
          </div>
        </div>
      </div>
      
      <!-- Questions -->
      <div class="section small-12 medium-7 column">  
        <div class="row">
          <div class="fn small-4 text-right column"><b>Officer Badge #:</b></div>
          <div class="fn small-8 column">DF-1141</div>
        </div>
        <div class="row">
          <div class="fn small-4 text-right column"><b>When Reported:</b></div>
          <div class="fn small-8 column">Mon Jul 14th, 2015 @12:30om</div>
        </div>
        <div class="row">
          <div class="fn small-4 text-right column"><b>Comments:</b></div>
          <div class="fn small-8 column">The lady wasn't so nice to me</div>
        </div>
      </div>
    </div>
  </section>


  <!-- SERVICER Contqainer -->
  <section class="row">
    <!-- Header -->
    <nav class="top-bar-vendor">
      <div class="small-4 column text-right name"><b>Servicer:</b></div>
      <div class="small-8 column text-left">Morris & Son's Towing of Newark</div>
    </nav>
    
    <div class="vcard">
      <!-- Information -->
      <div class="section small-12 medium-5 column">
        <!-- Address -->
        <div class="small-12 column">
          <div class="fn small-6 small-text-right column medium-12 medium-text-right">8150 Enterprise Dr.</div>
          <div class="fn small-6 small-text-left column medium-12 medium-text-right">Newark, CA 94560</div>
        </div>

        <!-- Contact Info -->
        <div class="small-12 column">
          <div class="fn small-4 small-text-right column medium-12 medium-text-right">
            510.739.0400
            <i class="fi-telephone"></i>
          </div>
          <div class="fn small-8 small-text-left column medium-12 medium-text-right">
            <a href="#">specialistmgr@morrissonstowing-newark.com</a>
            <i class="fi-mail"></i>
          </div>
        </div>
      </div>
      <ht />
      
      <!-- Questions -->
      <div class="section small-12 medium-7 column">  
        <div class="row">
          <div class="fn small-4 text-right column"><b>Keys in vehicle:</b></div>
          <div class="fn small-8 column">No</div>
        </div>
        <div class="row">
          <div class="fn small-4 text-right column"><b>Doors unlocked:</b></div>
          <div class="fn small-8 column">No</div>
        </div>
        <div class="row">
          <div class="fn small-4 text-right column"><b>Other Services:</b></div>
          <div class="fn small-8 column">Dollies, Skates, Axle Removal, Supply Air</div>
        </div>
      </div>
    </div>
  </section>

  <!-- EVENT HISTORY -->
  <section class="row panel">
    <div class="small-12 medium-6 column">
      <!-- Header -->
      <h3 class="column text-center">Event History</h4>
      <hr />

      <!-- Statuses -->
      <div class="row">
        <label class="small-6 text-left column">Requested</label>
        <div class="description small-6 text-right column">2:45pm | Mon July 7th, 2015</div>
      </div>
      <div class="row">
        <label class="description small-6 text-left column">En Route</label>
        <div class="description small-6 text-right column">2:52pm | Mon July 7th, 2015</div>
      </div>
      <div class="row">
        <label class="description small-6 text-left column">Vehicle Removed</label>
        <div class="description small-6 text-right column">2:59pm | Mon July 7th, 2015</div>
      </div>
      <div class="row">
        <label class="description small-6 text-left column">Vehicle Stored</label>
        <div class="description small-6 text-right column">3:05pm | Mon July 7th, 2015</div>
      </div>
      <div class="row">
        <label class="description small-6 text-left column">Released to Owner</label>
        <div class="description small-6 text-right column">4:55pm | Mon July 7th, 2015</div>
      </div>
    </div>

    <!-- ADDITIONAL COMMENTS -->
    <div class="small-12 medium-6 column">
      <!-- Header -->
      <h3 class="column text-center">Additional Comments</h3>
      <hr />
      
      <!-- actual comments -->
      <div class="row column">
        <p class="description">Today was the bestes day fo my life simply becuase I am in complete and total misery.
        How in the heck does one overcome the challlenges of life when you are suffering every
        day.  I'll tell you what i'm going to -- i'll burn down this building, and take my read stapler</p>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="small-12 medium-12 column end">
      <label class="small-3 medium-2 small-text-right medium-text-right column">Car Owner:</label>
      <div class="small-9 medium-10 column"><h4>Armin Van Burren Schwarzenegger</h4></div>
    </div>
    <span class="small-12 medium-6 column">
      <label class="small-3 small-text-right medium-text-right column">Signature:</label>
      <h2 class="small-9 column">_____________________</h2>
    </span>
    <span class="small-12 medium-6 column">
      <label class="small-3 small-text-right medium-text-right column">Date:</label>
      <h2 class="small-9 column">_____________________</h2>
    </span>

    <blockquote class="column secondary label text-left">*If you believe that you have been wrongfully towed, please
    contact the police dept shown above, or the local prosecuting agency @ (408) 555-222</div>
  </blockquote>
  </body>
</html>